@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

/* outlines
body {
  background-color: #FDE9D9;
}
div {
  border: 1px solid Chocolate;
}
*/

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	position: relative;
}
body:after {
	content: '';
	background: linear-gradient(to bottom right, #953635, #F79B4F, #FDE9D9, #FEC000);
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

h2 {
	font-size: 2rem;
	margin-bottom: 1em;
}

p {
	line-height: 1.6;
}

.body-content {
	background: white;
	width: calc(100% - 4rem);
	margin-left: 2rem;
	margin-top: 2rem;
	border-radius: 5px;
	padding-bottom: 2rem;
	margin-bottom: 2rem;
}

/* navigation bar */

.top-navigation .content {
	margin: 0 auto;
	text-align: center;
}

.top-navigation .content .menu {
	margin: 0;
}

.top-navigation .content .menu li {
	display: inline-block;
	font-size: 1.25em;
	text-transform: uppercase;
	color: black;
}

.top-navigation a {
	padding: .75em;
	display: block;
}

.top-navigation a:link {
	text-decoration: none;
}

.top-navigation a:hover {
	text-decoration: underline;
}

.top-navigation a:visited {
	text-decoration: none;
	color: black;
}

/* masthead image and overlay */

.masthead {
	padding: 19em 0;
	background: linear-gradient(to bottom right, #953635, #F79B4F, #FDE9D9, #FEC000);
	background-size: cover;
	background-repeat: no-repeat;
	width: calc(100% - 4rem);
	margin-left: 2rem;
	border-radius: 5px;
}

.masthead-heading {
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 5em;
	color: black;
}

/* intro text below masthead */

.introduction {
	max-width: 40em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	font-size: 1.25em;
	color: black;
}

/* section styling */

.introduction,
.location,
.rsvp,
.registry {
	max-width: 50rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
}

.location,
.rsvp,
.registry {
	background-color: #FDE9DE;
	padding: 2rem;

}

.location h2,
.rsvp h2,
.registry h2 {
	text-align: center;
	margin-top: 0;
	font-style: italic;
}

/* time and place section */

.event {
	text-align: center;
	font-size: 1.85rem;
}

.location p {
	font-size: 1.25rem;
}